#searchv{
	line-height:18px;
	padding:5px 20px 5px 0;
}
.lteie8 .menu-cat #divCat76 .menu-cat-child, 
.lteie8 .menu-cat #divCat81 .menu-cat-child, 
.lteie8 .menu-cat #divCat82 .menu-cat-child, 
.lteie8 .menu-cat #divCat83 .menu-cat-child {
	left: auto;
	right: 0;
}
.banner:hover,
.catalog-link:hover{
	border: 1px solid #000;
}
.ie-main .usercontent{
	padding: 15px;
}