
.apport {
  text-align: left;
}
.apport__time {
  padding-left: 20px;
  color: #555555;
  vertical-align: top;
}
.apport__summ {
  color: #999;
}

.banner-figure {
  margin: 0;
  position: relative;
}
.banner-figure img {
  width: 100%;
  height: auto;
}
.banner-figure__caption {
  position: absolute;
  z-index: 11111;
  top: 0;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.banner-figure__caption_big {
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}
.banner-figure_indent {
  margin: 10px 0;
}

.banner {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  border: 1px dashed #555555;
  color: #555555;
}
.banner__link {
  display: inline-block;
  font-size: 1.4em;
  text-decoration: none;
  color: #1c1c1c;
  padding: 7.5px 0;
}
.banner__img {
  width: 100%;
  height: auto;
}
.banner_full {
  width: 100%;
  max-height: 452px;
  overflow: hidden;
}
.banner_full .banner__link {
  width: 100%;
}
.banner_indent_top {
  margin-top: 30px;
}
.banner_indent_top:first-child {
  margin-top: 0;
}
@media only screen and (max-width: 1023px) {
  .banner_indent_top:first-child {
    margin-top: 30px;
  }
}
.banner_indent_top:last-child {
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) {
  .banner_indent_top:last-child {
    margin-bottom: 0;
  }
}
.banner:hover {
  border-color: #FFF;
  box-shadow: 0px 0px 9px 2px rgba(50, 50, 50, 0.6);
  -webkit-transition: all .15s ease;
          transition: all .15s ease;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .banner_tablet_half {
    width: 48%;
  }
  .banner_tablet_half:first-child {
    margin-right: 4%;
  }
}
@media screen and (min-width: 375px) and (max-width: 766px) {
  .banner_tablet_half {
    width: 48%;
  }
  .banner_tablet_half:first-child {
    margin-right: 4%;
  }
}

.breadcrumbs {
  color: #555555;
  line-height: 2;
}
.breadcrumbs__back {
  background: #555555;
  background: -webkit-linear-gradient(#ffffff, #555555);
  background: linear-gradient(#ffffff, #555555);
  border: 1px solid #555555;
  text-decoration: none;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 15px;
}
.breadcrumbs__back:hover {
  background: #17899e;
  color: #ffffff;
}
.breadcrumbs > a {
  color: #000000;
}
.breadcrumbs > a:hover {
  text-decoration: none;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  border: none;
  background: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
.button_buy {
  padding: 7.5px 15px;
  color: #ffffff;
  background: #05677a;
  margin: 5px;
}
.button_menu {
  width: 100%;
  padding: 10px 0;
  background: #ffd203;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  display: none;
}
@media only screen and (max-width: 767px) {
  .button_menu {
    display: block;
  }
}
.button_menu:after {
  content: "";
  border: 5px solid transparent;
  border-top: 5px solid #17899e;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  right: -20px;
}
.button_menu.open:after {
  border-bottom: 5px solid #17899e;
  border-top: none;
}
.button_yellow {
  padding: 10px 25px;
  background: #ffd203;
  background: -webkit-linear-gradient(#ffd203, #ffb503);
  background: linear-gradient(#ffd203, #ffb503);
  border: 1px solid #ffb503;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7);
}
.button_yellow:hover {
  background: #ffb503;
}
.button_green {
  padding: 10px 25px;
  background: #3CCF41;
  background: -webkit-linear-gradient(#3ccf41, #128810);
  background: linear-gradient(#3ccf41, #128810);
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7);
}
.button_green:hover {
  background: #05677a;
}
.button_big {
  padding: 10px 0;
  width: 90%;
  box-sizing: border-box;
  text-align: center;
}
.button_indent {
  margin: 30px 0;
}
.button_white {
  border: 1px solid #555555;
  color: #555555;
  padding: 10px;
}

.cart {
  font-size: 1.2em;
  color: #555555;
}
@media only screen and (max-width: 767px) {
  .cart {
    font-size: 1em;
  }
}
.cart__link {
  color: #000000;
}
.cart__link:hover {
  text-decoration: none;
}
.cart__textinput {
  padding: 5px;
  border: 1px solid #555555;
  border-radius: 3px;
}
.cart .black {
  color: #000000;
}
.cart_after {
  line-height: 1.5;
  margin: 10px 0;
}
.cart_after tr {
  border-top: 1px solid #555555;
}
.cart-rule {
  width: 100%;
  vertical-align: top;
}
.cart-rule_data {
  min-height: 40px;
  vertical-align: middle;
}
.cart-table {
  color: #555555;
  font-size: 1.2em;
}
.cart-table__right {
  text-align: right;
}
.cart-table__center {
  text-align: center;
}
.cart-table__image {
  text-align: center;
}
.cart-table_caption {
  padding: 10px 0;
  border-bottom: 1px solid #555555;
}
@media screen and (max-width: 1023px) {
  .cart-table_caption {
    display: none;
  }
}
.cart-table_body {
  padding: 10px 0;
  border-bottom: 1px solid #555555;
}
.cart-table_footer {
  padding: 10px 0;
}
.cart-table .show-tablet {
  display: none;
}
@media screen and (max-width: 1023px) {
  .cart-table .show-tablet {
    display: inline;
  }
}
.cart-content {
  padding: 0 15px;
  margin: 0;
}

.catalog-link {
  display: block;
  width: 80%;
  margin: 10px auto;
  border: 1px dashed #555555;
  color: #555555;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .catalog-link {
    width: 95%;
  }
}
@media only screen and (max-width: 767px) {
  .catalog-link {
    width: 99%;
    box-sizing: border-box;
  }
}
.catalog-link:hover {
  border-color: #FFF;
  box-shadow: 0px 0px 9px 2px rgba(50, 50, 50, 0.6);
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}
.catalog-icon {
  margin: 0;
  display: table;
}
.catalog-icon__caption {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0 5px;
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}
.catalog-grid {
  float: left;
  width: 100%;
}
.catalog-grid__item {
  float: left;
  width: 33.3333%;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .catalog-grid__item {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .catalog-grid__item {
    width: 100%;
  }
}

.centermenu {
  margin: auto;
  width: 458px;
  color: #555555;
}
@media only screen and (min-width: 1281px) {
  .centermenu {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 1023px) {
  .centermenu {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .centermenu {
    width: 300px;
  }
  .centermenu img {
    height: auto;
  }
}
.centermenu .bx-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.centermenu .slider-content {
  position: absolute;
  top: 0;
  text-align: left;
  padding: 0 15px;
}
.centermenu .slider-content h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  margin: 15px 0;
}

.copyright {
  text-align: center;
  color: #555555;
}
.copyright__link {
  color: #000;
}
.copyright__link:hover {
  text-decoration: none;
}
.copyright__link:visited {
  color: #000;
}

.externals {
  margin: 15px auto;
}
@media screen and (max-device-width: 768px) {
  .externals__row {
    display: inline-block;
    width: 100%;
  }
}
.externals__link {
  display: inline-block;
}

.flash {
  width: 100%;
  text-align: center;
}
.flash embed {
  max-width: 100%;
}
@media only screen and (max-width: 1023px) {
  .flash {
    display: none;
  }
}


.form-newsletter {
  font: normal 1em Arial, Tahoma, Helvetica, sans-serif;
  color: #555555;
  height: 72px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffd203 url('images/files/shadow-title.png') repeat-x;
  z-index: 999;
  padding: 10px;
  text-align: center;
  display: none;
}
.form-newsletter__title {
  font-size: 30px;
}
.form-newsletter__form {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-size: 16px;
}
.form-newsletter__close {
  margin-top: -70px;
  margin-left: 870px;
  font-size: 15px;
  color: #000000;
  cursor: pointer;
}
.form-newsletter__close:hover {
  color: #555555;
}
.form-newsletter-form {
  padding-top: 5px;
}
.form-newsletter-form__input {
  border: 1px solid #555555;
  border-radius: 3px;
  padding: 5px;
}

.form {
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 1023px) {
  .form {
    width: 95%;
  }
}
@media only screen and (max-width: 767px) {
  .form {
    width: 100%;
  }
}
.form__label {
  position: relative;
  float: left;
  width: 40%;
  margin: 7.5px 0;
  color: #555555;
}
@media only screen and (max-width: 767px) {
  .form__label {
    width: 100%;
    box-sizing: border-box;
  }
}
.form__label_required:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 5px;
  background: url("images/shop/flag_green.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
}
.form__input {
  float: left;
  width: 55%;
  max-width: 480px;
  margin: 7.5px 0;
  padding: 6px;
  border: 1px solid #555555;
  border-radius: 3px;
}
@media only screen and (max-width: 767px) {
  .form__input {
    width: 100%;
    box-sizing: border-box;
  }
}
.form__input_captcha {
  float: none;
}
.form__input_sm {
  float: none;
  display: inline-block;
  width: auto;
}
@media only screen and (max-width: 767px) {
  .form__input_sm {
    width: 38%;
  }
}
.form__input_pasapprouve {
  width: 100%;
}
.form__message {
  display: inline-block;
  width: 100%;
  margin: 7.5px 0;
  padding: 5px 0;
  background: #ececec;
  text-align: center;
}
.form__captcha {
  float: left;
  max-width: 20%;
}
@media only screen and (max-width: 767px) {
  .form__captcha {
    max-width: 100%;
    float: none;
  }
}
.form__submit {
  display: inline-block;
  width: 100%;
  line-height: 1.5;
}
.form__submit_cnt {
  text-align: center;
  padding: 15px 0;
}
.form__button {
  text-decoration: none;
  color: #555555;
  padding: 6px 15px;
  border: 1px solid #555555;
  border-radius: 3px;
  position: relative;
}
.form__button_clear {
  margin-right: 5px;
}
.form__button_clear:before {
  content: "";
  position: relative;
  display: inline-block;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url("images/shop/brick_error.gif") no-repeat 0 0;
}
.form__button_send:before {
  content: "";
  position: relative;
  display: inline-block;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url("images/shop/brick_go.gif") no-repeat 0 0;
}
.form__wrapper {
  float: left;
  width: 75%;
  box-sizing: border-box;
  padding-left: 15px;
}
@media only screen and (max-width: 767px) {
  .form__wrapper {
    width: 100%;
    padding-left: 0;
  }
}
.form__helper {
  font-size: 18px;
}
.form__select {
  float: left;
  width: 60%;
}
.form__select select {
  max-width: 100%;
  padding: 5px 0;
  margin: 7.5px 0;
  border: 1px solid #555555;
  border-radius: 3px;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .form__select {
    width: 100%;
  }
}
.form__comment {
  float: left;
  margin-left: 40%;
  width: 60%;
  color: #555555;
}
@media only screen and (max-width: 767px) {
  .form__comment {
    width: 100%;
    margin-left: 0;
    font-size: 0.9em;
  }
}
.form__checkbox {
  margin: 10px;
  float: left;
}
.form-errors {
  font-size: 1.4em;
  color: #ff0000;
}
.form-errors ul {
  list-style: none;
}

.gbook {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #555555;
  border-top: 1px solid #555555;
}
.gbook:first-child {
  border-top: none;
}
.gbook__client {
  position: relative;
  padding: 10px 0;
}
.gbook__client,
.gbook__client a {
  color: #000000;
}
.gbook__client:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  left: 0;
  margin-right: 5px;
  background: url('images/shop/icon-client.gif') no-repeat 0 0;
}
.gbook__text {
  color: #555555;
}
.gbook__reply {
  width: 100%;
  background: #ececec;
  padding: 10px;
  box-sizing: border-box;
  min-height: 36px;
}
.gbook__reply:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  left: 0;
  margin-right: 5px;
  background: url('images/shop/comment_new.gif') no-repeat 0 0;
}
.gbook-add {
  width: 100%;
  text-align: right;
}
.gbook-add .button {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .gbook-add {
    padding: 10px 0;
  }
}

.general__area {
  padding: 30px;
  display: block;
}
@media only screen and (max-width: 767px) {
  .general__area {
    padding: 5px;
  }
}
.general__area_shadow {
  box-shadow: inset 0px 7px 5px -1px rgba(50, 50, 50, 0.3);
}
.general__area_spec > table {
  width: 100%;
}
@media only screen and (max-width: 1023px) {
  .general__area_spec > table tr {
    display: block;
    width: 100%;
  }
}
.general__area_banner {
  padding-bottom: 0;
}
.general__separator {
  display: inline-block;
  width: 100%;
  background: #ffd203;
  box-shadow: inset 0px 7px 5px -1px rgba(50, 50, 50, 0.5);
  text-align: center;
  padding: 10px 0;
}

.grid__col1 {
  float: left;
  box-sizing: border-box;
  width: 20%;
}
.grid__col2 {
  float: left;
  box-sizing: border-box;
  width: 40%;
}
.grid__col3 {
  float: left;
  box-sizing: border-box;
  width: 60%;
}
.grid__col4 {
  float: left;
  box-sizing: border-box;
  width: 80%;
}
.grid__col5 {
  float: left;
  box-sizing: border-box;
  width: 100%;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet1 {
    float: left;
    box-sizing: border-box;
    width: 16.66666667%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet2 {
    float: left;
    box-sizing: border-box;
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet3 {
    float: left;
    box-sizing: border-box;
    width: 50%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet4 {
    float: left;
    box-sizing: border-box;
    width: 66.66666667%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet5 {
    float: left;
    box-sizing: border-box;
    width: 83.33333333%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet6 {
    float: left;
    box-sizing: border-box;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .grid__col_phone1 {
    float: left;
    box-sizing: border-box;
    width: 33.33333333%;
  }
}
@media only screen and (max-width: 767px) {
  .grid__col_phone2 {
    float: left;
    box-sizing: border-box;
    width: 66.66666667%;
  }
}
@media only screen and (max-width: 767px) {
  .grid__col_phone3 {
    float: left;
    box-sizing: border-box;
    width: 100%;
  }
}
.grid {
  float: left;
  width: 100%;
}
.grid_indent_sm {
  padding: 12px 0 14px;
}
.grid__col_phone50ps {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.cb {
  clear: both;
}

.header-section {
  border-left: 1px solid #17899e;
  min-height: 94px;
}
@media only screen and (max-width: 767px) {
  .header-section {
    font-size: 1.2em;
  }
}
.header-section_sm {
  min-height: 1px;
}
.header-section_float {
  float: left;
  box-sizing: border-box;
}
.header-section_oneof_3 {
  width: 33.3333%;
}
.header-section_theme_none {
  border: none;
  min-height: 1px;
}
@media only screen and (max-width: 767px) {
  .header-section_theme_phonecenter {
    text-align: center;
  }
}

.header {
  display: block;
}
.header_page {
  background: #056c7f;
  background: -webkit-linear-gradient(top, #056c7f 0%, #03596b 100%);
  background: linear-gradient(to bottom, #056c7f 0%, #03596b 100%);
}

.icon {
  background-image: url('images/files/icons.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 33px;
  height: 30px;
}
.icon-discount {
  background-position: center -10px;
}
.icon-profile {
  background-position: center -56px;
}
.icon-basket {
  background-position: center -100px;
}
.icon-search {
  background-position: center -141px;
}
.icon-price {
  background-position: center -182px;
  width: 14px;
  height: 17px;
}
.icon-price-md {
  background-position: center -214px;
  width: 16px;
  height: 21px;
}

.logo {
  text-align: center;
}
.logo_top {
  width: 100%;
  display: inline-block;
  border-right: 1px solid #17899e;
}

.menu-cat {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: table;
}
@media only screen and (max-width: 1023px) {
  .menu-cat {
    position: relative;
  }
}
.menu-cat__parent {
  text-decoration: none;
  color: #1c1c1c;
  display: inline-block;
  padding: 11px 8px;
}
.menu-cat__item {
  display: table-cell;
  position: relative;
}
.menu-cat__item:hover {
  box-shadow: inset 0px 7px 5px -1px rgba(50, 50, 50, 0.5);
  background: #ffb503;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-cat__item {
    width: 16.66666667%;
    display: inline-block;
    text-align: center;
  }
}
@media only screen and (max-width: 1023px) {
  .menu-cat__item {
    width: 50%;
    text-align: left;
    display: block;
    position: static;
  }
}
@media only screen and (max-width: 767px) {
  .menu-cat__item {
    width: 100%;
  }
}
.menu-cat-child {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  top: 38px;
  z-index: 111111;
  width: 400px;
  font-size: 0.9em;
  background: #ffb503;
}
.menu-cat-child.hide {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-cat-child {
    width: 200px;
    text-align: center;
  }
}
@media only screen and (max-width: 1023px) {
  .menu-cat-child {
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .menu-cat-child {
    width: 100%;
    position: static;
    float: left;
  }
}
.menu-cat-child__link {
  text-decoration: none;
  color: #1c1c1c;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 11px 3px;
}
@media only screen and (max-width: 767px) {
  .menu-cat-child__link {
    padding: 11px;
  }
}
.menu-cat-child__item {
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px solid #ffd203;
}
.menu-cat-child__item:nth-child(even) {
  border-left: 1px solid #ffd203;
}
.menu-cat-child__item:hover {
  background: #ffd203;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-cat-child__item {
    width: 99%;
    border-left: none;
  }
  .menu-cat-child__item:nth-child(even) {
    border-left: none;
  }
}
@media only screen and (max-width: 767px) {
  .menu-cat-child__item {
    width: 100%;
    box-sizing: border-box;
  }
}
.menu-cat-child__close {
  display: none;
  border: none;
  background: none;
  font-size: 30px;
}
@media only screen and (max-width: 767px) {
  .menu-cat-child__close {
    display: block;
  }
}
@media only screen and (min-width: 1025px) {
  .menu-cat__item:nth-child(n + 7) .menu-cat-child {
    left: auto;
    right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-cat__item:nth-child(5n + 1) .menu-cat-child {
    left: auto;
    right: 0;
  }
}
@media only screen and (max-width: 1023px) {
  .menu-cat__item:nth-child(5n + 1) .menu-cat-child {
    left: auto;
    right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-cat__item:nth-child(1) .menu-cat-child {
    left: 0;
    right: auto;
  }
}
@media only screen and (max-width: 1023px) {
  .menu-cat__item:nth-child(1) .menu-cat-child {
    left: auto;
    right: 0;
  }
}

.menu__item {
  text-decoration: none;
  color: #555555;
  padding: 10px 13px;
  display: inline-block;
  color: #ffffff;
}
.menu__item:hover {
  color: #ffde45;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .menu__item {
    padding: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .menu__item {
    padding: 10px 0;
  }
}
.menu_top {
  border-bottom: 1px solid #17899e;
}
@media only screen and (max-width: 767px) {
  .menu_top {
    display: none;
  }
  .menu_top.open {
    display: block;
  }
}
.menu_top .menu__item {
  position: relative;
  text-align: center;
}
.menu_top .menu__item:before {
  content: "\25CF";
  display: inline-block;
  position: absolute;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .menu_top .menu__item:before {
    display: none;
  }
}
.menu_top .menu__item:hover :before {
  color: #FFF;
}
.menu_top .menu__item:first-child:before {
  display: none;
}
@media only screen and (max-width: 767px) {
  .menu_top .menu__item {
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: left;
    font-size: 1.2em;
    text-indent: 5px;
  }
}
.menu_justify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 767px) {
  .menu_justify {
    display: none;
    float: left;
  }
}
@media only screen and (min-width: 1023px) {
  .menu_justify .menu__item {
    padding: 10px 23px;
  }
}
@media only screen and (min-width: 1281px) {
  .menu_justify .menu__item {
    padding: 10px 35px;
  }
}
.menu_footer {
  padding-bottom: 10px;
  border-bottom: 1px solid #888888;
}
.menu_footer .menu__item {
  color: #888888;
  text-decoration: none;
}
.menu_footer .menu__item:hover {
  color: #000;
}

.message {
  border: solid 1px #EFD39C;
  border-radius: 8px 8px 0 0;
  background: #ffec9d;
  background: -webkit-linear-gradient(#ffec9d, #ffe785);
  background: linear-gradient(#ffec9d, #ffe785);
  position: fixed;
  max-width: 230px;
  height: 35px;
  padding: 15px 10px 10px 10px;
  visibility: hidden;
  right: 10px;
  bottom: 0;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  z-index: 200000;
  font: normal 12px Arial, Tahoma, Helvetica, sans-serif;
}
.message__content {
  text-align: left;
  padding-left: 45px;
  min-height: 32px;
}
.message__content_cart {
  background: url(images/shop/basket.png) no-repeat;
}
.message__content_compare {
  background: url(images/shop/compare.png) no-repeat;
}

.navigation-topbtn {
  position: fixed;
  bottom: 130px;
  left: 15px;
  z-index: 3000000;
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #d8d8d8 100%);
  background: linear-gradient(to bottom, #fbfbfb 0%, #d8d8d8 100%);
  border-radius: 6px;
  box-shadow: 0px 3px 10px 5px rgba(50, 50, 50, 0.4);
}
@media only screen and (max-width: 767px) {
  .navigation-topbtn {
    bottom: 15px;
  }
}
.navigation-topbtn__link {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(images/files/back-up-arrow.png) no-repeat center;
}

.navigation {
  display: block;
  text-align: center;
}
.navigation_top {
  box-shadow: inset 0px 7px 5px -1px rgba(50, 50, 50, 0.5);
  background: #ffd203;
  color: #1c1c1c;
  width: 100%;
  font-size: 14px;
}
.navigation_bottom {
  padding: 30px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navigation {
    text-align: left;
  }
}

.news {
  width: 100%;
  display: block;
  border-top: 5px solid #ececec;
  border-bottom: 5px solid #ececec;
  padding: 10px 0;
}
.news__content {
  font-size: 1.2em;
}
.news__title {
  text-transform: uppercase;
  font: bold 1.8em Arial, Tahoma, Helvetica, sans-serif;
  font-style: italic;
}
.news__link {
  text-decoration: none;
  color: #000000;
}
.news__link:hover {
  text-decoration: underline;
}
.news__detail {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  padding: 10px;
}

.oneclick {
  position: relative;
}
.oneclick__wrapper {
  display: none;
  width: 250px;
  position: absolute;
  z-index: 9999;
}
.oneclick__item {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ebf1f6;
}
.oneclick__close {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  color: #000000;
  font-size: 1.1em;
  text-align: right;
}
.oneclick-form {
  padding: 10px;
}
.oneclick-form__label {
  font-weight: bold;
  padding: 5px 0;
  display: inline-block;
}
.oneclick-form__input {
  margin: 5px 0;
  border-radius: 3px;
  border: 1px solid #555555;
}
.oneclick-form__send {
  text-align: center;
  margin: 10px 0;
}

.page-nav {
  color: #000000;
  text-align: center;
}
.page-nav > a {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-decoration: none !important;
  color: #000000;
  margin-left: -1px;
}
.page-nav > a:hover {
  background: #ffd203;
}
.page-nav > a:last-child {
  margin-left: -4px;
}
.page-nav > b {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-decoration: none !important;
  background: #ffd203;
  margin-left: -1px;
}
.page-nav_top {
  padding-bottom: 30px;
}
.page-nav_bottom {
  padding-top: 30px;
}
.page-nav img ~ a {
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}
.page {
  margin: 0;
  padding: 0;
  height: 100%;
}
.bod {
  margin: 0;
  padding: 0;
  background: #94d6e2;
  background: -webkit-linear-gradient(top, #94d6e2 10%, #ffffff 90%);
  background: linear-gradient(to bottom, #94d6e2 10%, #ffffff 90%);
  background-repeat: no-repeat;
}
.page {
  font: normal 0.75em Arial, Tahoma, Helvetica, sans-serif;
}
.page__content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
  background: url('images/files/body-bg.png') no-repeat 0 0;
}
.page__footer {
  margin: 0;
  padding: 0;
  height: 80px;
  margin-top: -80px;
  padding: 30px;
}
@media only screen and (max-width: 767px) {
  .page__footer {
    padding: 5px;
  }
}
a img {
  border: none;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.pagination__item {
  display: inline-block;
  margin: 0;
  margin-left: -1px;
}
.pagination__link {
  display: block;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-decoration: none;
  color: #000000;
}
.pagination__link:hover {
  background: #ffd203;
}
.pagination__link.active {
  background: #ffd203;
}
.pagination__nolink {
  display: block;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-decoration: none;
  color: #555555;
}

.price__actual {
  display: inline-block;
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #000;
  background: #ffd203;
  border-radius: 5px;
  font-size: 23px;
}
.price__old {
  position: relative;
  color: #555555;
  display: inline-block;
  font-size: 18px;
  padding-top: 5px;
}
.price__old:before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 2px;
  background: #feac9c;
  position: absolute;
  left: 0;
  top: 50%;
}
.price__old strike {
  text-decoration: none;
}
.price_theme_incard {
  padding: 5px;
}
.price_theme_incard .price__actual {
  font-weight: bold;
}

.pricepage {
  width: 100%;
}
.pricepage__links {
  background: #ececec;
  padding: 20px 10px;
  border-radius: 3px;
}
.pricepage__link {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #000;
  text-decoration: none;
  border: 1px solid #555555;
  border-radius: 5px;
}
.pricepage__link:hover {
  background: #ffffff;
}
.pricepage__link:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .pricepage__link {
    box-sizing: border-box;
    width: 99%;
    font-size: 1.2em;
    padding: 10px;
  }
}
.pricepage-table a {
  color: #000000;
  display: inline-block;
  padding: 5px 0 5px 5px;
}
.pricepage-table a:hover {
  text-decoration: none;
}
.pricepage-table .bgprice {
  font-size: 1.4em;
  text-indent: 5px;
}
#catId {
  padding: 5px 0;
}

.panel_l,
.panel_r {
  width: 20%;
}
@media only screen and (max-width: 1023px) {
  .panel_l,
  .panel_r {
    display: block;
    width: 100%;
  }
}

.button-green {
  display: inline-block;
  padding: 2.5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background: #3db656;
  border-radius: 3px;
}
.product-card {
  width: 90%;
  margin: 0 5%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ececec;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 1023px) {
  .product-card {
    font-size: 1.2em;
  }
}
.product-card__desc {
  color: #555555;
  text-align: center;
  margin-bottom: 1em;
  min-height: 45px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .product-card__desc {
    min-height: 45px;
  }
}
@media only screen and (max-width: 1023px) {
  .product-card__desc {
    min-height: 1px;
  }
}
.product-card__img {
  width: 100%;
  margin: 15px 0;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  .product-card__img {
    float: left;
    width: 35%;
    margin-right: 15px;
  }
  .product-card__img img {
    width: auto;
    max-width: 100%;
    margin: auto;
  }
}
.product-card__button {
  display: inline-block;
  padding: 2.5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background: #3db656;
  border-radius: 3px;
  text-decoration: none;
}
.product-card__button_detail {
  display: none;
  font-size: 1.5em;
  position: absolute;
  left: 0;
  top: 35%;
  width: 70%;
  margin: 0 15%;
}
.product-card__title {
  width: 100%;
  margin: 15px 0;
  display: inline-block;
  min-height: 75px;
  color: #000;
  line-height: 1.5;
  text-align: justify;
}
.product-card__title:hover {
  text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .product-card__title {
    min-height: 90px;
  }
}
@media only screen and (max-width: 1023px) {
  .product-card__title {
    min-height: 1px;
    display: inline;
  }
}
.product-card__avaliable {
  text-align: center;
  margin: 15px 0;
}
.product-card__avaliable .productSklad {
  display: inline-block;
  padding: 2.5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background: #3db656;
  border-radius: 3px;
}
.product-card__avaliable .productSklad-no {
  display: inline-block;
  padding: 2.5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background: #3db656;
  border-radius: 3px;
  background: #ff0000;
}
.product-card__price {
  margin: 15px 0;
  width: 100%;
  text-align: center;
}
.product-card__cart,
.product-card__notify {
  margin: 15px 0;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  .product-card__cart,
  .product-card__notify {
    float: right;
    width: 50%;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .product-card__cart,
  .product-card__notify {
    width: 100%;
  }
}
.product-card__input {
  float: right;
  padding: 10px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .product-card__input {
    float: none;
  }
}
@media only screen and (max-width: 1023px) {
  .product-card__input {
    float: right;
    width: 50%;
    text-align: left;
  }
}
.product-card:hover {
  box-shadow: 0px 3px 10px 5px rgba(50, 50, 50, 0.6);
}
@media only screen and (min-width: 1023px) {
  .product-card:hover .product-card__button_detail {
    display: inline-block;
  }
}
.product-card_lastview {
  border-color: #555555;
}
@media only screen and (max-width: 1023px) {
  .product-card_lastview {
    margin-bottom: 10px;
  }
}
.product-two_hover > * {
  opacity: 0.5;
}
.product-two_hover .product-card__notify {
  opacity: 1;
}

.product {
  width: 100%;
  float: left;
}
.product__title {
  color: #555555;
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
}
.product-image {
  float: left;
  width: 60%;
  padding: 15px;
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
  .product-image {
    width: 100%;
  }
}
.product-image .photo {
  width: 100%;
}
.product-image a {
  color: #000000;
}
.product-image a:hover {
  text-decoration: none;
}
.product-info {
  float: left;
  width: 40%;
}
@media only screen and (max-width: 767px) {
  .product-info {
    width: 100%;
    margin-right: 0;
  }
}
.product-info-box-order {
  float: left;
  width: 47.5%;
  margin-right: 5%;
}
.product-info-box-order-box-inner {
  background: #ffd203;
  margin: 0 0 15px;
  border-radius: 10px;
  text-align: center;
}
.product-info__status {
  background: #3db656;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  margin: 10px 0;
  padding: 5px 0;
  color: #ffffff;
}
.product-info__link {
  color: #000000;
}
.product-info__link:hover {
  text-decoration: none;
}
.product-info__paymethod {
  text-align: center;
}
.product-info__cart {
  text-align: center;
}
.product-info-box-order-box-art {
  padding-bottom: 5px;
}
.product-info-box-info {
  float: left;
  width: 47.5%;
}
.product-info-b-i-box-inner {
  background: #ffd203;
  margin: 0 0 15px;
  border-radius: 10px;
  text-align: center;
}
.product-info-b-i-box-inner__header,
.product-info-b-i-box-inner__footer {
  padding: 7px 0;
}
.product-info-b-i-box-inner__content {
  padding: 5px 0 5px 20px;
  background: #ececec;
}

.profile-blank {
  padding: 5px;
  text-align: center;
  color: #ffffff;
}
.profile-blank__link {
  color: #ffde45;
  text-decoration: none;
  border-bottom: 1px dotted #ffde45;
}
.profile-blank__link:hover {
  border-bottom: none;
}
.profile-blank__link_img {
  text-decoration: none;
  border: none;
}
.profile-blank_basket a {
  color: #ffde45;
  text-decoration: none;
  border-bottom: 1px dotted #ffde45;
}
.profile-blank_basket a:hover {
  border-bottom: none;
}
#ico_user {
  color: #555555;
}
#ico_user a {
  color: #ffde45;
  text-decoration: none;
  border-bottom: 1px dotted #ffde45;
}
#ico_user a:hover {
  border-bottom: none;
}
#ico_user .white_content a {
  color: #555555;
}
#ico_user .red {
  color: #ff0000;
}
.usb {
  background: url(images/usb.gif) top left no-repeat;
  border: 0px;
  cursor: pointer;
  width: 71px;
  height: 29px;
}
.usf1 {
  background: url(images/usf1.gif) top left no-repeat;
  height: 29px;
  width: 210px;
  border: 0px;
  color: #ababab;
  font-size: 12px;
  padding-left: 29px;
  line-height: 28px;
}
.usf2 {
  background: url(images/usf2.gif) top left no-repeat;
  height: 29px;
  width: 210px;
  border: 0px;
  color: #ababab;
  font-size: 12px;
  padding-left: 29px;
  line-height: 28px;
}

.profile {
  min-height: 94px;
}
.profile_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.white_content {
  position: fixed;
  z-index: 132132132132132132111123132132;
  top: 50%;
  left: 50%;
  display: none;
  width: 305px;
  margin-top: -165px;
  margin-left: -183px;
  padding: 30px;
  background: #ffffff;
  border-radius: 30px;
  font-style: normal;
}
.usbg-center a {
  color: #555555;
}
.usbg-center a:hover {
  text-decoration: none;
}
.usbg-center form table {
  width: 305px;
}
.usbg-center form h3 {
  font-size: 1.4em;
}
.usbg-center form textarea {
  max-width: 215px;
}
.usbg-center form input,
.usbg-center form textarea {
  width: 99%;
}
.usbg-center form input[name="returncall_mod_time_start"],
.usbg-center form input[name="returncall_mod_time_end"] {
  width: auto;
}
.usbg-center form #returncall_captcha {
  margin: 14px 0;
}
.usbg-center form #returncall_captcha > div {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.usbg-center form #returncall_captcha > div img {
  width: 100%;
}
.usbg-center form input[type="submit"] {
  border: none;
  background: none;
  margin-top: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #3db656;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
#fade {
  position: fixed;
  z-index: 1321321321321321213213213211;
  display: none;
  overflow: hidden;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.50;
}

.search {
  position: relative;
  max-width: 400px;
}
#searchv {
  width: 100%;
  height: 27px;
  box-sizing: content-box;
  text-indent: 15px;
  border-radius: 7px;
  border: 1px solid #555555;
}
#searchb {
  border: none;
  background: none;
  position: absolute;
  right: -1px;
  top: 1px;
  width: 33px;
  height: 29px;
  background: url(images/files/search-btn.png) no-repeat;
  cursor: pointer;
}
.search_fast_result {
  right: 0 !important;
}
@media only screen and (max-width: 767px) {
  .search_fast_result {
    width: 290px !important;
  }
}
.sfr_content > ul {
  padding: 0;
  margin: 0;
}

.separator__title {
  display: inline-block;
  text-transform: uppercase;
  font: bold italic 22px Arial, Tahoma, Helvetica, sans-serif;
  margin: 0;
}
.separator__link {
  display: inline-block;
  color: #000;
  font-style: italic;
  text-indent: 5px;
}
.separator__link:hover {
  text-decoration: none;
}

.box-shop__title {
  text-transform: uppercase;
  font: bold 2em Arial, Tahoma, Helvetica, sans-serif;
  font-style: italic;
}
.box-shop__catalog {
  min-height: 200px;
}
.box-shop__catalog > table {
  width: 100%;
}
@media only screen and (max-width: 1023px) {
  .box-shop__catalog > table tr {
    display: block;
    width: 100%;
  }
}

.shop-sort {
  float: left;
  padding: 10px;
  color: #555555;
}
.shop-sort select {
  margin-right: 10px;
  padding: 2.5px 0;
}
.shop-sort .ok {
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.shop-sort__link {
  color: #000000;
}
.shop-sort__link:hover {
  text-decoration: none;
}
.shop-sort_order {
  padding: 15px 10px;
}


.product #slider {
  width: 380px;
  height: 210px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.product .anythingSlider-default {
  margin: 0 auto;
  margin-bottom: 10px;
}
.product ul.thumbNav {
  display: none !important;
}
.product .anythingSlider-default .anythingControls a {
  background: #777777 url('images/default.png') center -288px repeat-x;
  color: #000;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
.product .anythingSlider-default .anythingControls a span {
  visibility: visible;
}
.product .anythingSlider-default .anythingControls a.cur {
  background: #888;
  color: #000;
}
.product .anythingSlider-default .anythingControls a.start-stop {
  background-color: #040;
  color: #ddd;
  display: none !important;
}
.product .anythingSlider-default .anythingControls a.start-stop.playing {
  background-color: #800;
}
.product .anythingSlider-default .anythingControls a.start-stop:hover,
.product .anythingSlider-default .anythingControls a.start-stop.hover,
.product .anythingSlider-default .anythingControls a.start-stop .anythingControls ul a:hover {
  background-image: none;
  color: #ddd;
}
.product .anythingSlider-default.activeSlider .anythingWindow {
  background: #e5eaf2;
}
.product .anythingSlider-default.activeSlider .anythingControls a {
  background-color: #7C9127;
}
.product .anythingSlider-default.activeSlider .anythingControls a.cur,
.product .anythingSlider-default.activeSlider .anythingControls a:hover {
  background: #7C9127;
}
.product .anythingSlider-default.activeSlider .anythingControls a.start-stop {
  background-color: #080;
  color: #fff;
}
.product .anythingSlider-default.activeSlider .anythingControls a.start-stop.playing {
  background-color: #d00;
  color: #fff;
}
.product .anythingSlider-default.activeSlider .start-stop:hover,
.product .anythingSlider-default.activeSlider .start-stop.hover {
  color: #fff;
}
.product .anythingSlider-default .arrow {
  top: 50%;
  position: absolute;
  display: block;
}
.product .anythingSlider-default .arrow a {
  display: block;
  width: 25px;
  height: 140px;
  margin: -70px 0 0 0;
  text-align: center;
  outline: 0;
  background: url('images/default.png') no-repeat;
}
.product .anythingSlider-default .back {
  left: 5;
}
.product .anythingSlider-default .back a {
  background-position: left top;
}
.product .anythingSlider-default .back a:hover,
.product .anythingSlider-default .back a.hover {
  background-position: left -140px;
}
.product .anythingSlider-default .forward {
  right: 5;
}
.product .anythingSlider-default .forward a {
  background-position: right top;
}
.product .anythingSlider-default .forward a:hover,
.product .anythingSlider-default .forward a.hover {
  background-position: right -140px;
}
.product .anythingSlider-default .anythingControls .anythingNavWindow {
  overflow: hidden;
  float: left;
}
.product .anythingSlider-default .anythingControls .start-stop {
  padding: 2px 5px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  float: right;
  z-index: 100;
  outline: 0;
}
.product .as-oldie .anythingSlider-default .arrow {
  top: 30%;
}
.product .as-oldie .anythingSlider-default .arrow a {
  margin: 0;
}
.product .as-oldie .anythingSlider-default .anythingControls li {
  margin-left: 3px;
}
.product .as-oldie .anythingSlider-default .anythingControls a {
  margin: 0;
}
.product .as-oldie .anythingSlider-default .anythingNavWindow {
  margin: 0 2px;
}
.product .as-oldie .anythingSlider-default .anythingNavWindow li {
  padding: 3px 0 0 0;
}
.product .anythingSlider {
  display: block;
  overflow: visible !important;
  position: relative;
}
.product .anythingSlider .anythingWindow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.product .anythingSlider .anythingBase {
  background: transparent;
  list-style: none;
  position: absolute;
  overflow: visible !important;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.product .anythingSlider .arrow span {
  display: block;
  visibility: hidden;
}
.product .anythingSlider .arrow.disabled {
  display: none;
}
.product .anythingSlider .panel {
  background: transparent;
  display: block;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 0;
}
.product .anythingSlider .vertical .panel {
  float: none;
}
.product .anythingSlider .fade .panel {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.product .anythingSlider .fade .activePage {
  z-index: 1;
}
.product .anythingSlider.rtl .anythingWindow {
  direction: ltr;
  unicode-bidi: bidi-override;
}
.product .anythingSlider.rtl .anythingControls ul {
  float: left;
}
.product .anythingSlider.rtl .anythingControls ul a {
  float: right;
}
.product .anythingSlider,
.product .anythingSlider .anythingWindow,
.product .anythingSlider .anythingControls ul a,
.product .anythingSlider .arrow a,
.product .anythingSlider .start-stop {
  transition-duration: 0s;
  -o-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
}
.product .link-quest {
  text-align: center;
  position: relative;
}
.product .link-quest a {
  font-size: 17px;
  color: #000;
  padding-left: 20px;
}
.product .line-bo {
  position: absolute;
  width: 100%;
  height: 40px;
  background: url('images/default0.png') repeat-x;
  top: -50px;
}

.anythingSlider {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  max-width: 100%;
}
.anythingSlider .panel {
  background: transparent;
  display: block;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .anythingSlider .panel > div {
    width: 54% !important;
  }
}
@media only screen and (max-width: 767px) {
  .anythingSlider .panel > div {
    width: 70% !important;
  }
}
.anythingSlider .news_tema {
  font-weight: bold;
}
.anythingSlider .news_tema a {
  font-family: Arial;
  font-size: 12px;
  color: #ccc;
  font-weight: 600;
}
.anythingSlider .arrow {
  top: 50%;
  position: absolute;
  display: block;
}
.anythingSlider .arrow.back {
  left: 5px;
}
.anythingSlider .arrow.forward {
  right: 5px;
}
.link-quest {
  width: 380px;
  margin: auto;
  max-width: 100%;
}
.line-bo {
  max-width: 380px;
}

.tab {
  float: left;
  z-index: 1;
  position: relative;
  top: 0;
  margin: 0px 0px 0px 0px;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
  border-radius: 6px 6px 0 0;
}
.tab.selected {
  text-decoration: none;
  color: #000;
  background: #f0f0f0;
}
.tab a {
  color: #000000;
  text-decoration: none;
}
.tab a:hover {
  text-decoration: none;
}
.tab-pane {
  width: 100%;
  margin: 20px 0 0;
  position: relative;
}
.tab-row {
  z-index: 1;
  white-space: nowrap;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ececec;
}
.tab-page {
  color: #555555;
}
.tab-page__item {
  display: block;
  padding: 10px 0;
}

.text {
  padding: 0 14px;
}
.text__phone {
  margin: 0;
  font-size: 23px;
  padding: 5px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .text__phone {
    font-size: 20px;
  }
}
.text__phone > span {
  color: #ffde45;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 2px 0 0;
}
.text__line {
  margin: 0;
}
.text__line_first {
  padding-top: 1em;
}
.text__line_returncall {
  color: #ffffff;
}
.text__line_returncall a {
  text-decoration: none;
  border-bottom: 1px dotted #ffde45;
  color: #ffde45;
  font-size: 12px;
}
.text__line_returncall a:hover {
  border-bottom: none;
}
.text__link {
  color: #000000;
}
.text__link:hover {
  text-decoration: none;
}
.text_white {
  color: #ffffff;
}
.text_sm {
  font-size: .95em;
}
.text_ital {
  font-style: italic;
}

.usercontent {
  color: #555555;
  font-family: Arial, Tahoma, Helvetica, sans-serif;
  line-height: 1.3;
}
.usercontent h1,
.usercontent h2,
.usercontent h3,
.usercontent h4,
.usercontent h5,
.usercontent h6 {
  color: #000;
}
.usercontent h1 {
  font-size: 22px;
  text-transform: uppercase;
}
.usercontent h2 {
  font-size: 20px;
  text-transform: uppercase;
}
.usercontent a {
  color: #000;
}
.usercontent a:hover {
  text-decoration: none;
}
.usercontent ul li {
  margin-bottom: 10px;
}
.usercontent table {
  width: 100%;
}
.usercontent table td {
  padding: 5px;
}
@media only screen and (max-width: 767px) {
  .usercontent table td {
    display: block;
    float: left;
    width: 96%;
    padding: 5px 2%;
    box-sizing: content-box;
  }
  .usercontent table tr:last-child:after {
    display: block;
    content: "";
    clear: both;
  }
}
.usercontent img {
  max-width: 100%;
  height: auto;
}
.usercontent object,
.usercontent embed {
  max-width: 100%;
}
.usercontent_fs_medium {
  font-size: 1.2em;
}
.usercontent .phone-cell {
  text-align: center;
  font-size: 17px;
  padding: 20px 0;
  background: #d6d6d6;
}
.usercontent .phone-cell .big {
  font-size: 150%;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  background: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 95%;
  }
}
@media screen and (max-device-width: 768px) {
  .wrapper {
    width: 100%;
  }
}
.wrapper_decorate {
  box-shadow: 0px 3px 10px 5px rgba(50, 50, 50, 0.4);
  border: none;
  border-radius: 0 0 20px 20px;
}
.wrapper_transparent {
  background: transparent;
}
