
.grid__col1 {
  float: left;
  box-sizing: border-box;
  width: 20%;
}
.grid__col2 {
  float: left;
  box-sizing: border-box;
  width: 40%;
}
.grid__col3 {
  float: left;
  box-sizing: border-box;
  width: 60%;
}
.grid__col4 {
  float: left;
  box-sizing: border-box;
  width: 80%;
}
.grid__col5 {
  float: left;
  box-sizing: border-box;
  width: 100%;
}
.grid {
  float: left;
  width: 100%;
}
.grid_indent_sm {
  padding: 12px 0 14px;
}
.cb {
  clear: both;
}

.header_page {
  background: #056c7f;
  background: -webkit-linear-gradient(top, #056c7f 0%, #03596b 100%);
  background: linear-gradient(to bottom, #056c7f 0%, #03596b 100%);
}

.logo {
  text-align: center;
}
.logo_top {
  width: 100%;
  display: inline-block;
  border-right: 1px solid #17899e;
}

.menu__item {
  text-decoration: none;
  color: #555555;
  padding: 10px 13px;
  display: inline-block;
  color: #ffffff;
}
.menu__item:hover {
  color: #ffde45;
}
.menu_top {
  border-bottom: 1px solid #17899e;
}
.menu_top .menu__item {
  position: relative;
  text-align: center;
}
.menu_top .menu__item:before {
  content: "\25CF";
  display: inline-block;
  position: absolute;
  left: 0;
}
.menu_top .menu__item:hover :before {
  color: #FFF;
}
.menu_top .menu__item:first-child:before {
  display: none;
}
.menu_justify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 1023px) {
  .menu_justify .menu__item {
    padding: 10px 23px;
  }
}
@media only screen and (min-width: 1281px) {
  .menu_justify .menu__item {
    padding: 10px 35px;
  }
}

html,
body,
.page {
  margin: 0;
  padding: 0;
  height: 100%;
}
.page {
  background: #94d6e2;
  background: -webkit-linear-gradient(top, #94d6e2 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #94d6e2 0%, #ffffff 100%);
  font: normal 0.75em Arial, Tahoma, Helvetica, sans-serif;
}
.page__content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
  background: url('images/files/body-bg.png') no-repeat 0 0;
}
.page__footer {
  margin: 0;
  padding: 0;
  height: 80px;
  margin-top: -80px;
}

.text {
  padding: 0 14px;
}
.text_white {
  color: #ffffff;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  background: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 95%;
  }
}
@media screen and (max-device-width: 768px) {
  .wrapper {
    width: 100%;
  }
}
