
.banner-figure {
  margin: 0;
  position: relative;
}
.banner-figure img {
  width: 100%;
  height: auto;
}
.banner-figure__caption {
  position: absolute;
  z-index: 11111;
  top: 0;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.banner-figure__caption_big {
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}
.banner-figure_indent {
  margin: 10px 0;
}

.banner {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  border: 1px dashed #555555;
  color: #555555;
}
.banner__link {
  display: inline-block;
  font-size: 1.4em;
  text-decoration: none;
  color: #1c1c1c;
  padding: 7.5px 0;
}
.banner__img {
  width: 100%;
  height: auto;
}
.banner_full {
  width: 100%;
}
.banner_full .banner__link {
  width: 100%;
}
.banner_indent_top {
  margin-top: 30px;
}
.banner:hover {
  border-color: #FFF;
  box-shadow: 0px 0px 9px 2px rgba(50, 50, 50, 0.6);
  -webkit-transition: all .15s ease;
          transition: all .15s ease;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .banner_tablet_half {
    width: 48%;
  }
  .banner_tablet_half:first-child {
    margin-right: 4%;
  }
}

.breadcrumbs {
  color: #555555;
}
.breadcrumbs > a {
  color: #000000;
}
.breadcrumbs > a:hover {
  text-decoration: none;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  border: none;
  background: none;
  border-radius: 5px;
  display: inline-block;
}
.button_buy {
  padding: 7.5px 15px;
  color: #ffffff;
  background: #05677a;
  margin: 5px;
}
.button_menu {
  width: 100%;
  padding: 10px 0;
  background: #ffd203;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  display: none;
}
@media only screen and (max-width: 767px) {
  .button_menu {
    display: block;
  }
}
.button_menu:after {
  content: "";
  border: 5px solid transparent;
  border-top: 5px solid #17899e;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  right: -20px;
}
.button_menu.open:after {
  border-bottom: 5px solid #17899e;
  border-top: none;
}

.centermenu {
  margin: 25px auto 30px;
  width: 458px;
  color: #555555;
}
@media only screen and (min-width: 1281px) {
  .centermenu {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .centermenu {
    width: 300px;
  }
  .centermenu img {
    height: auto;
  }
}
.centermenu .bx-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.centermenu .slider-content {
  position: absolute;
  top: 0;
  text-align: left;
  padding: 0 15px;
}
.centermenu .slider-content h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  margin: 15px 0;
}

.copyright {
  text-align: center;
  color: #555555;
}
.copyright__link {
  color: #000;
}
.copyright__link:hover {
  text-decoration: none;
}
.copyright__link:visited {
  color: #000;
}

.externals {
  margin: 15px auto;
}
@media screen and (max-device-width: 768px) {
  .externals__row {
    display: inline-block;
    width: 100%;
  }
}
.externals__link {
  display: inline-block;
}

.flash {
  width: 100%;
  text-align: center;
}
.flash embed {
  max-width: 100%;
}
@media only screen and (max-width: 1023px) {
  .flash {
    display: none;
  }
}


.general__area {
  padding: 30px;
  display: block;
}
@media only screen and (max-width: 767px) {
  .general__area {
    padding: 5px;
  }
}
.general__area_shadow {
  box-shadow: inset 0px 7px 5px -1px rgba(50, 50, 50, 0.3);
}
.general__area_spec > table {
  width: 100%;
}
@media only screen and (max-width: 1023px) {
  .general__area_spec > table tr {
    display: block;
    width: 100%;
  }
}
.general__separator {
  display: inline-block;
  width: 100%;
  background: #ffd203;
  box-shadow: inset 0px 7px 5px -1px rgba(50, 50, 50, 0.5);
  text-align: center;
  padding: 10px 0;
}

.grid__col1 {
  float: left;
  box-sizing: border-box;
  width: 20%;
}
.grid__col2 {
  float: left;
  box-sizing: border-box;
  width: 40%;
}
.grid__col3 {
  float: left;
  box-sizing: border-box;
  width: 60%;
}
.grid__col4 {
  float: left;
  box-sizing: border-box;
  width: 80%;
}
.grid__col5 {
  float: left;
  box-sizing: border-box;
  width: 100%;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet1 {
    float: left;
    box-sizing: border-box;
    width: 16.66666667%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet2 {
    float: left;
    box-sizing: border-box;
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet3 {
    float: left;
    box-sizing: border-box;
    width: 50%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet4 {
    float: left;
    box-sizing: border-box;
    width: 66.66666667%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet5 {
    float: left;
    box-sizing: border-box;
    width: 83.33333333%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .grid__col_tablet6 {
    float: left;
    box-sizing: border-box;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .grid__col_phone1 {
    float: left;
    box-sizing: border-box;
    width: 33.33333333%;
  }
}
@media only screen and (max-width: 767px) {
  .grid__col_phone2 {
    float: left;
    box-sizing: border-box;
    width: 66.66666667%;
  }
}
@media only screen and (max-width: 767px) {
  .grid__col_phone3 {
    float: left;
    box-sizing: border-box;
    width: 100%;
  }
}
.grid {
  float: left;
  width: 100%;
}
.grid_indent_sm {
  padding: 12px 0 14px;
}
.grid__col_phone50ps {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.cb {
  clear: both;
}

.header-section {
  border-left: 1px solid #17899e;
  min-height: 94px;
}
@media only screen and (max-width: 767px) {
  .header-section {
    font-size: 1.2em;
  }
}
.header-section_sm {
  min-height: 1px;
}
.header-section_float {
  float: left;
  box-sizing: border-box;
}
.header-section_oneof_3 {
  width: 33.3333%;
}
.header-section_theme_none {
  border: none;
  min-height: 1px;
}
@media only screen and (max-width: 767px) {
  .header-section_theme_phonecenter {
    text-align: center;
  }
}

.header {
  display: block;
}
.header_page {
  background: #056c7f;
  background: -webkit-linear-gradient(top, #056c7f 0%, #03596b 100%);
  background: linear-gradient(to bottom, #056c7f 0%, #03596b 100%);
}

.icon {
  background-image: url('images/files/icons.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 33px;
  height: 30px;
}
.icon-discount {
  background-position: center -10px;
}
.icon-profile {
  background-position: center -56px;
}
.icon-basket {
  background-position: center -100px;
}
.icon-search {
  background-position: center -141px;
}
.icon-price {
  background-position: center -182px;
  width: 14px;
  height: 17px;
}
.icon-price-md {
  background-position: center -214px;
  width: 16px;
  height: 21px;
}

.logo {
  text-align: center;
}
.logo_top {
  width: 100%;
  display: inline-block;
  border-right: 1px solid #17899e;
}

.menu-cat {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: table;
}
@media only screen and (max-width: 1023px) {
  .menu-cat {
    position: relative;
  }
}
.menu-cat__parent {
  text-decoration: none;
  color: #1c1c1c;
  display: inline-block;
  padding: 11px 8px;
}
.menu-cat__item {
  display: table-cell;
  position: relative;
}
.menu-cat__item:hover {
  box-shadow: inset 0px 7px 5px -1px rgba(50, 50, 50, 0.5);
  background: #ffb503;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-cat__item {
    width: 16.66666667%;
    display: inline-block;
    text-align: center;
  }
}
@media only screen and (max-width: 1023px) {
  .menu-cat__item {
    width: 50%;
    text-align: left;
    display: block;
    position: static;
  }
}
@media only screen and (max-width: 767px) {
  .menu-cat__item {
    width: 100%;
  }
}
.menu-cat-child {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  top: 38px;
  z-index: 111111;
  width: 400px;
  font-size: 0.9em;
  background: #ffb503;
}
.menu-cat-child.hide {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-cat-child {
    width: 200px;
    text-align: center;
  }
}
@media only screen and (max-width: 1023px) {
  .menu-cat-child {
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .menu-cat-child {
    width: 100%;
    position: static;
    float: left;
  }
}
.menu-cat-child__link {
  text-decoration: none;
  color: #1c1c1c;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 11px 3px;
}
@media only screen and (max-width: 767px) {
  .menu-cat-child__link {
    padding: 11px;
  }
}
.menu-cat-child__item {
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px solid #ffd203;
}
.menu-cat-child__item:nth-child(even) {
  border-left: 1px solid #ffd203;
}
.menu-cat-child__item:hover {
  background: #ffd203;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-cat-child__item {
    width: 99%;
    border-left: none;
  }
  .menu-cat-child__item:nth-child(even) {
    border-left: none;
  }
}
@media only screen and (max-width: 767px) {
  .menu-cat-child__item {
    width: 100%;
    box-sizing: border-box;
  }
}
.menu-cat-child__close {
  display: none;
  border: none;
  background: none;
  font-size: 30px;
}
@media only screen and (max-width: 767px) {
  .menu-cat-child__close {
    display: block;
  }
}
@media only screen and (min-width: 1025px) {
  .menu-cat__item:nth-child(n + 7) .menu-cat-child {
    left: auto;
    right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-cat__item:nth-child(5n + 1) .menu-cat-child {
    left: auto;
    right: 0;
  }
}
@media only screen and (max-width: 1023px) {
  .menu-cat__item:nth-child(5n + 1) .menu-cat-child {
    left: auto;
    right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-cat__item:nth-child(1) .menu-cat-child {
    left: 0;
    right: auto;
  }
}
@media only screen and (max-width: 1023px) {
  .menu-cat__item:nth-child(1) .menu-cat-child {
    left: auto;
    right: 0;
  }
}

.menu__item {
  text-decoration: none;
  color: #555555;
  padding: 10px 13px;
  display: inline-block;
  color: #ffffff;
}
.menu__item:hover {
  color: #ffde45;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .menu__item {
    padding: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .menu__item {
    padding: 10px 0;
  }
}
.menu_top {
  border-bottom: 1px solid #17899e;
}
@media only screen and (max-width: 767px) {
  .menu_top {
    display: none;
  }
  .menu_top.open {
    display: block;
  }
}
.menu_top .menu__item {
  position: relative;
  text-align: center;
}
.menu_top .menu__item:before {
  content: "\25CF";
  display: inline-block;
  position: absolute;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .menu_top .menu__item:before {
    display: none;
  }
}
.menu_top .menu__item:hover :before {
  color: #FFF;
}
.menu_top .menu__item:first-child:before {
  display: none;
}
@media only screen and (max-width: 767px) {
  .menu_top .menu__item {
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: left;
    font-size: 1.2em;
    text-indent: 5px;
  }
}
.menu_justify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 767px) {
  .menu_justify {
    display: none;
    float: left;
  }
}
@media only screen and (min-width: 1023px) {
  .menu_justify .menu__item {
    padding: 10px 23px;
  }
}
@media only screen and (min-width: 1281px) {
  .menu_justify .menu__item {
    padding: 10px 35px;
  }
}
.menu_footer {
  padding-bottom: 10px;
  border-bottom: 1px solid #888888;
}
.menu_footer .menu__item {
  color: #888888;
  text-decoration: none;
}
.menu_footer .menu__item:hover {
  color: #000;
}

.message {
  border: solid 1px #EFD39C;
  border-radius: 8px 8px 0 0;
  background: #ffec9d;
  background: -webkit-linear-gradient(#ffec9d, #ffe785);
  background: linear-gradient(#ffec9d, #ffe785);
  position: fixed;
  max-width: 230px;
  height: 35px;
  padding: 15px 10px 10px 10px;
  visibility: hidden;
  right: 10px;
  bottom: 0;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  z-index: 200000;
  font: normal 12px Arial, Tahoma, Helvetica, sans-serif;
}
.message__content {
  text-align: left;
  padding-left: 45px;
  min-height: 32px;
}
.message__content_cart {
  background: url(images/shop/basket.png) no-repeat;
}
.message__content_compare {
  background: url(images/shop/compare.png) no-repeat;
}

.navigation-topbtn {
  position: fixed;
  bottom: 130px;
  left: 15px;
  z-index: 3000000;
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #d8d8d8 100%);
  background: linear-gradient(to bottom, #fbfbfb 0%, #d8d8d8 100%);
  border-radius: 6px;
  box-shadow: 0px 3px 10px 5px rgba(50, 50, 50, 0.4);
}
@media only screen and (max-width: 767px) {
  .navigation-topbtn {
    bottom: 15px;
  }
}
.navigation-topbtn__link {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(images/files/back-up-arrow.png) no-repeat center;
}

.navigation {
  display: block;
  text-align: center;
}
.navigation_top {
  box-shadow: inset 0px 7px 5px -1px rgba(50, 50, 50, 0.5);
  background: #ffd203;
  color: #1c1c1c;
  width: 100%;
  font-size: 14px;
}
.navigation_bottom {
  padding: 30px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navigation {
    text-align: left;
  }
}

html {
  margin: 0;
  padding: 0;
}
.page {
  margin: 0;
  padding: 0;
  height: 100%;
}
.bod {
  margin: 0;
  padding: 0;
  background: #94d6e2;
  background: -webkit-linear-gradient(top, #94d6e2 10%, #ffffff 90%);
  background: linear-gradient(to bottom, #94d6e2 10%, #ffffff 90%);
  background-repeat: no-repeat;
}
.page {
  font: normal 0.75em Arial, Tahoma, Helvetica, sans-serif;
}
.page__content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
  background: url('images/files/body-bg.png') no-repeat 0 0;
}
.page__footer {
  margin: 0;
  padding: 0;
  height: 80px;
  margin-top: -80px;
  padding: 30px;
}
@media only screen and (max-width: 767px) {
  .page__footer {
    padding: 5px;
  }
}
a img {
  border: none;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.pagination__item {
  display: inline-block;
  margin: 0;
  margin-left: -1px;
}
.pagination__link {
  display: block;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-decoration: none;
  color: #000000;
}
.pagination__link:hover {
  background: #ffd203;
}
.pagination__link.active {
  background: #ffd203;
}
.pagination__nolink {
  display: block;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-decoration: none;
  color: #555555;
}

.price__actual {
  display: inline-block;
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #000;
  background: #ffd203;
  border-radius: 5px;
  font-size: 23px;
}
.price__old {
  position: relative;
  color: #555555;
  float: left;
  font-size: 18px;
  padding-top: 5px;
}
.price__old:before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 2px;
  background: #feac9c;
  position: absolute;
  left: 0;
  top: 50%;
}
.price__old strike {
  text-decoration: none;
}

.panel_l,
.panel_r {
  width: 20%;
}
@media only screen and (max-width: 1023px) {
  .panel_l,
  .panel_r {
    display: block;
    width: 100%;
  }
}

.button-green {
  display: inline-block;
  padding: 2.5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background: #3db656;
  border-radius: 3px;
}
.product-card {
  width: 90%;
  margin: 0 5%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ececec;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 1023px) {
  .product-card {
    font-size: 1.2em;
  }
}
.product-card__desc {
  color: #555555;
  text-align: center;
  margin-bottom: 1em;
  min-height: 45px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .product-card__desc {
    min-height: 45px;
  }
}
@media only screen and (max-width: 1023px) {
  .product-card__desc {
    min-height: 1px;
  }
}
.product-card__img {
  width: 100%;
  margin: 15px 0;
}
@media only screen and (max-width: 1023px) {
  .product-card__img {
    float: left;
    width: 50%;
  }
  .product-card__img img {
    width: 90%;
    margin: 0 5%;
  }
}
.product-card__button {
  display: inline-block;
  padding: 2.5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background: #3db656;
  border-radius: 3px;
  text-decoration: none;
}
.product-card__button_detail {
  display: none;
  font-size: 1.5em;
  position: absolute;
  left: 0;
  top: 35%;
  width: 70%;
  margin: 0 15%;
}
.product-card__title {
  width: 100%;
  margin: 15px 0;
  display: inline-block;
  min-height: 75px;
  color: #000;
  line-height: 1.5;
  text-align: justify;
}
.product-card__title:hover {
  text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .product-card__title {
    min-height: 90px;
  }
}
@media only screen and (max-width: 1023px) {
  .product-card__title {
    float: right;
    width: 50%;
    min-height: 1px;
  }
}
.product-card__avaliable {
  text-align: center;
  margin: 15px 0;
}
.product-card__avaliable .productSklad {
  display: inline-block;
  padding: 2.5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background: #3db656;
  border-radius: 3px;
}
.product-card__avaliable .productSklad-no {
  display: inline-block;
  padding: 2.5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background: #3db656;
  border-radius: 3px;
  background: #ff0000;
}
.product-card__price {
  margin: 15px 0;
  width: 100%;
  text-align: center;
}
.product-card__cart,
.product-card__notify {
  margin: 15px 0;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  .product-card__cart,
  .product-card__notify {
    float: right;
    width: 50%;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .product-card__cart,
  .product-card__notify {
    width: 100%;
  }
}
.product-card__input {
  float: right;
  padding: 10px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .product-card__input {
    float: none;
  }
}
@media only screen and (max-width: 1023px) {
  .product-card__input {
    float: right;
    width: 50%;
    text-align: left;
  }
}
@media only screen and (min-width: 1023px) {
  .product-card:hover .product-card__button_detail {
    display: inline-block;
  }
}
.product-two_hover > * {
  opacity: 0.5;
}
.product-two_hover .product-card__notify {
  opacity: 1;
}

.profile-blank {
  padding: 5px;
  text-align: center;
  color: #ffffff;
}
.profile-blank__link {
  color: #ffde45;
  text-decoration: none;
  border-bottom: 1px dotted #ffde45;
}
.profile-blank__link:hover {
  border-bottom: none;
}
.profile-blank__link_img {
  text-decoration: none;
  border: none;
}
.profile-blank_basket a {
  color: #ffde45;
  text-decoration: none;
  border-bottom: 1px dotted #ffde45;
}
.profile-blank_basket a:hover {
  border-bottom: none;
}
#ico_user {
  color: #555555;
}
#ico_user a {
  color: #ffde45;
  text-decoration: none;
  border-bottom: 1px dotted #ffde45;
}
#ico_user a:hover {
  border-bottom: none;
}
#ico_user .white_content a {
  color: #555555;
}
.usb {
  background: url(images/usb.gif) top left no-repeat;
  border: 0px;
  cursor: pointer;
  width: 71px;
  height: 29px;
}
.usf1 {
  background: url(images/usf1.gif) top left no-repeat;
  height: 29px;
  width: 210px;
  border: 0px;
  color: #ababab;
  font-size: 12px;
  padding-left: 29px;
  line-height: 28px;
}
.usf2 {
  background: url(images/usf2.gif) top left no-repeat;
  height: 29px;
  width: 210px;
  border: 0px;
  color: #ababab;
  font-size: 12px;
  padding-left: 29px;
  line-height: 28px;
}

.profile {
  min-height: 94px;
}
.profile_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.white_content {
  position: fixed;
  z-index: 132132132132132132111123132132;
  top: 50%;
  left: 50%;
  display: none;
  width: 305px;
  margin-top: -165px;
  margin-left: -183px;
  padding: 30px;
  background: #ffffff;
  border-radius: 30px;
  font-style: normal;
}
.usbg-center a {
  color: #555555;
}
.usbg-center a:hover {
  text-decoration: none;
}
.usbg-center form table {
  width: 305px;
}
.usbg-center form h3 {
  font-size: 1.4em;
}
.usbg-center form textarea {
  max-width: 215px;
}
.usbg-center form input,
.usbg-center form textarea {
  width: 99%;
}
.usbg-center form input[name="returncall_mod_time_start"],
.usbg-center form input[name="returncall_mod_time_end"] {
  width: auto;
}
.usbg-center form #returncall_captcha {
  margin: 14px 0;
}
.usbg-center form #returncall_captcha > div {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.usbg-center form #returncall_captcha > div img {
  width: 100%;
}
.usbg-center form input[type="submit"] {
  border: none;
  background: none;
  margin-top: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #3db656;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
#fade {
  position: fixed;
  z-index: 1321321321321321213213213211;
  display: none;
  overflow: hidden;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.50;
}

.search {
  position: relative;
  max-width: 400px;
}
#searchv {
  width: 100%;
  height: 27px;
  box-sizing: content-box;
  text-indent: 15px;
  border-radius: 7px;
  border: 1px solid #555555;
}
#searchb {
  border: none;
  background: none;
  position: absolute;
  right: -1px;
  top: 1px;
  width: 33px;
  height: 29px;
  background: url(images/files/search-btn.png) no-repeat;
  cursor: pointer;
}
.search_fast_result {
  right: 0 !important;
}
@media only screen and (max-width: 767px) {
  .search_fast_result {
    width: 290px !important;
  }
}
.sfr_content > ul {
  padding: 0;
  margin: 0;
}

.separator__title {
  display: inline-block;
  text-transform: uppercase;
  font: bold italic 22px Arial, Tahoma, Helvetica, sans-serif;
  margin: 0;
}
.separator__link {
  display: inline-block;
  color: #000;
  font-style: italic;
  text-indent: 5px;
}
.separator__link:hover {
  text-decoration: none;
}

.box-shop__title {
  text-transform: uppercase;
  font: bold 2em Arial, Tahoma, Helvetica, sans-serif;
  font-style: italic;
}
.box-shop__catalog > table {
  width: 100%;
}
@media only screen and (max-width: 1023px) {
  .box-shop__catalog > table tr {
    display: block;
    width: 100%;
  }
}

.shop-sort {
  float: left;
  padding: 10px;
  color: #555555;
}
.shop-sort select {
  margin-right: 10px;
  padding: 2.5px 0;
}
.shop-sort .ok {
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.shop-sort__link {
  color: #000000;
}
.shop-sort__link:hover {
  text-decoration: none;
}
.shop-sort_order {
  padding: 15px 10px;
}


.text {
  padding: 0 14px;
}
.text__phone {
  margin: 0;
  font-size: 23px;
  padding: 5px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .text__phone {
    font-size: 20px;
  }
}
.text__phone > span {
  color: #ffde45;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 2px 0 0;
}
.text__line {
  margin: 0;
}
.text__line_first {
  padding-top: 1em;
}
.text__line_returncall {
  color: #ffffff;
}
.text__line_returncall a {
  text-decoration: none;
  border-bottom: 1px dotted #ffde45;
  color: #ffde45;
  font-size: 12px;
}
.text__line_returncall a:hover {
  border-bottom: none;
}
.text_white {
  color: #ffffff;
}
.text_sm {
  font-size: .95em;
}
.text_ital {
  font-style: italic;
}

.usercontent {
  color: #555555;
  font-family: Arial, Tahoma, Helvetica, sans-serif;
  line-height: 1.3;
}
.usercontent h1,
.usercontent h2,
.usercontent h3,
.usercontent h4,
.usercontent h5,
.usercontent h6 {
  color: #000;
}
.usercontent h1 {
  font-size: 22px;
  text-transform: uppercase;
}
.usercontent h2 {
  font-size: 20px;
  text-transform: uppercase;
}
.usercontent a {
  color: #000;
}
.usercontent a:hover {
  text-decoration: none;
}
.usercontent ul li {
  margin-bottom: 10px;
}
.usercontent table {
  width: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  background: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 95%;
  }
}
@media screen and (max-device-width: 768px) {
  .wrapper {
    width: 100%;
  }
}
.wrapper_decorate {
  box-shadow: 0px 3px 10px 5px rgba(50, 50, 50, 0.4);
  border: none;
  border-radius: 0 0 20px 20px;
}
