@import '../_framework/var';

.navigation{
	display: block;
	text-align: center;
	
	&_top{
		.box-shadow-top-inset(.5);
		background: @color-gold;
		color: @color-black-lead;
		width: 100%;
		font-size: 14px;
	}

	&_bottom{
		padding: 30px 0;
	}

	@media @tabletls{
		text-align: left;
	}
	
}