.anythingSlider{
	transition-duration: 0s;
	
	.anythingWindow {
		background: #e5eaf2;
	}

	.panel{
		background: transparent;
		display: block;
		overflow: hidden;
		float: left;
		padding: 0;
		margin: 0;
	}

	.news_tema{
		font-weight: bold;
	}

	.news_tema a {
		font-family: Arial;
		font-size: 12px;
		color: #ccc;
		font-weight: 600;
	}

	.arrow {
		top: 50%;
		position: absolute;
		display: block;
		&.back{
			left: 5px;
		}
		&.forward{
			right: 5px;
		}
	}

}
	.link-quest{
		width: 380px;
		margin: auto;
	}
	.line-bo{
		max-width: 380px;
	}