@import '../_framework/var';

.general{
	&__area{
		padding: @indent;
		display: block;
		@media @atphone{
			padding: 5px;
		}
		&_shadow{
			.box-shadow-top-inset(.3);
		}
		&_spec{ //backend helper
			> table{
				width: 100%;
				tr{
					@media @notdesktop{
						display: block;
						width: 100%;
					}
				}
			}
		}
		&_banner{
			padding-bottom: 0;
		}
	}

	&__separator{
		display: inline-block;
		width: 100%;
		background: @color-gold;
		.box-shadow-top-inset(.5);
		text-align: center;
		padding: 10px 0;
	}
}