@import '../_framework/var';

.button{
	appearance: none;
	text-decoration: none;
	border: none;
	background: none;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	&_buy{
		padding: 7.5px 15px;
		color: @color-white;
		background: @color-green-blue;
		margin: 5px;
	}
	&_menu{
		width: 100%;
		padding: 10px 0;
		
		background: @color-gold;
		font-size: 1.2em;
		font-weight: bold;
		
		position: relative;
		
		display: none;

		@media @atphone{
			display: block;
		}

		&:after{
			content: "";
			border: 5px solid transparent;
			border-top: 5px solid @color-eastern-blue;
			position: relative;
			display: inline-block;
			vertical-align: middle;
			right: -20px;
		}

		&.open:after{
			border-bottom: 5px solid @color-eastern-blue;
			border-top: none;
		}
	}
	&_green{
		padding: 10px 15px;
		background: #3CCF41;
		background: linear-gradient(#3CCF41, #128810);
		
		border-radius: 5px;
		box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
		
		font-size: 26px;
		font-weight: bold;
		color: @color-white;
		text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7);
		
		&:hover{
			background: @color-green-blue;

		}
	}
	&_big{
		padding: 10px 0;
		width: 90%;
		box-sizing: border-box;
		text-align: center;
	}
	&_indent{
		margin: @indent 0;
	}
	&_white{
		border: 1px solid @color-wet-asphalt;
		color: @color-wet-asphalt;
		padding: 10px;
	}
}