@import '../_framework/var';
.menu-link(){
	text-decoration: none;
	color: @color-black-lead;
}
.menu-cat{
	.reset-list();

	width: 100%;
	display: table;
	@media @notdesktop{
		position: relative;
	}
	
	&__parent{
		.menu-link();
		display: inline-block;
		padding: 11px 8px;
	}

	&__item{
		display: table-cell;
		position: relative;
		
		&:hover{
			.box-shadow-top-inset(.5);
			background: @color-yellow-bold;
		}

		@media @tabletls{
			width: 100% /6;
			display: inline-block;
			text-align: center;
		}
		@media @notdesktop{
			width: 100% /2;
			text-align: left;
			display: block;
			position: static;
		}

		@media @atphone{
			width: 100%;
		}

	}

}
.menu-cat-child{
	.reset-list();
	
	position: absolute;
	left: 0;
	top: 38px;
	z-index: 111111;
	
	width: 400px;
	
	font-size: 0.9em;
	background: @color-yellow-bold;
	
	&.hide{
		display: none;
	}
	
	@media @tabletls{
		width: 200px;
		text-align: center;
	}
	@media @notdesktop{
		// position: relative;
		position: absolute;
		right: 0;
		left: auto;
		top: 0;
		width: 100% /2;
	}

	@media @atphone{
		width: 100%;
		position: static;
		float: left;
	}

	&__link{
		.menu-link();

		white-space: nowrap;
		
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		padding: 11px 3px;
		@media @atphone{
			padding: 11px;
		}
	}

	&__item{
		width: 50%;
		float: left;
		box-sizing: border-box;
		
		text-align: left;
		border-bottom: 1px solid @color-gold;
		
		&:nth-child(even){
			border-left: 1px solid @color-gold;
		}
		&:hover{
			background: @color-gold;
		}

		@media @tabletls{
			width: 99%;
			border-left: none;
			&:nth-child(even){
				border-left: none;
			}
		}

		@media @atphone{
			width: 100%;
			box-sizing: border-box;
		}

	}

	&__close{
		display: none;
		.reset-btn;
		font-size: 30px;
		
		@media @atphone{
			display: block;
		}
	}
}
.menu-cat__item{
	&:nth-child(n + 7){
		.menu-cat-child{
			@media only screen and (min-width: 1025px){
				left: auto;
				right: 0;
			}
		}
	}
	&:nth-child(5n + 1){
		.menu-cat-child{
			@media @tabletls{
				left: auto;
				right: 0;
			}
			@media @notdesktop{
				left: auto;
				right: 0;
			}
		}
	}
	&:nth-child(1){
		.menu-cat-child{
			@media @tabletls{
				left: 0;
				right: auto;
			}
			@media @notdesktop{
				left: auto;
				right: 0;
			}
		}
	}
}