@import '../_framework/var';

.product{
	width: 100%;
	float: left;
	&-image{
		float: left;
		width: 60%;
		padding: 15px;
		box-sizing: border-box;
		.photo{
			width: 100%;
		}
		& a{
			.normal-link();
		}
	}
	&-info{
		float: left;
		width: 40%;
	}
	&-info-box-order{
		float: left;
		width: 47.5%;
		margin-right: 5%;
	}
	&-info-box-order-box-inner{
		background: @color-gold;
		margin: 0 0 15px;
		border-radius: 10px;
		text-align: center;
	}
	&-info__status{
		background: @color-green;
		border-top: 10px solid @color-white;
		border-bottom: 10px solid @color-white;
		margin: 10px 0;
		padding: 5px 0;
		color: @color-white;
	}
	&-info__link{
		.normal-link();
	}
	&-info__paymethod{
		text-align: center;
	}
	&-info__cart{
		text-align: center;
	}
	&-info-box-order-box-art{
		padding-bottom: 5px;
	}
	&-info-box-info{
		float: left;
		width: 47.5%;
	}
	&-info-b-i-box-inner{
		background: @color-gold;
		margin: 0 0 15px;
		border-radius: 10px;
		text-align: center;
		&__header,
		&__footer{
			padding: 7px 0;
		}
		&__content{
			padding: 5px 0 5px 20px;
			background: @color-smoky-white;
		}
	}
}